# Unity generated
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/Logs/
**/UserSettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user

# OS junk
.DS_Store
Thumbs.db
Thumbs.db.meta
**/Thumbs.db
**/Thumbs.db.meta

# Builds
*.apk
*.aab
*.unitypackage
*.app