# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user

# OS junk
.DS_Store
Thumbs.db

# Builds
*.apk
*.aab
*.unitypackage
*.app
